/*Validated styles*/

.intro-img {
    margin-top: 120px;
    margin-bottom: 80px;
}

@media(min-height: 768px) {
    .intro-image {
        margin-top: 180px;
        margin-bottom: 80px;
    }
}

.section-img {
  margin-bottom: 60px;
}

section#about {
     background-image: url(../img/about-us-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#services {
  background-image: url(../img/service-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#portfolio {
    background-color: #f7f7f7;
}

section#quote {
    background-image: url(../img/quote-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#contact {
    background-image: url(../img/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-muted {
    color: #000;
    font-size: 1.2em;
}

/*.form-control-quote {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/

#portfolio .col-md-4 .col-sm-4{
	margin: 0;
	padding: 0;
}

#portfolio .portfolio-item {
    margin: 0;
    padding: 0;
}

#quoteForm {
    padding-top: 40px;
    padding-bottom: 40px;
}

.input-lg {
  background-color: rgba(255, 255, 255, 0.5);
}

.copyright {
    font-size: 8px;
    margin: 0;
}

.mouse-over {
    margin-top: 90px;
    color: #fff
}

.mouse-over-black {
    margin-top: 80px;
    color: #000
}

.mouse-over:hover {
    color: #00a599;
}

.mouse-over-black:hover {
    color: #00a599;
}

.mouse-over img {
    height: 40px;
}

.mouse-over-black img {
    height: 40px;
}

@media(min-width:768px) {
    .mouse-over {
        margin-top: 50px;
    }
    .mouse-over img {
        height: 60px;
    }
    .mouse-over-black {
        margin-top: 50px;
    }
    .mouse-over-black img {
        height: 60px;
    }
}

#submit-section {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px;
  padding: 0px;
  height: 244px;
}

#submit-section .col-md-9 .col-sm-3{
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  height: 244px;
}

#submit-section button {
  width: 90%;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 196px;
}

#submit-section textarea {
  background-color: transparent;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 196px;
}

@media(min-width:768px) {
    #contact-table tr {
        padding-bottom: 10px;
    }    
}

/*All fonts*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/0DeoTBMnW4sOpD0Zb8OQSALUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1EqTbJWOZQBfhZ0e3RL9uvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/MZ1aViPqjfvZwVD_tzjjkwLUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivCZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/61V2bQZoWB5DkWAUJStypevvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYECZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYMDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcsBaWKZ57bY3RXgXH6dOjZ0.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03IANMAcR23K2W2XJa2LmwCb4.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaCwlidHJgAgmTjOEEzwu1L8.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTdGNerWpg2Hn6A-BxWgZ_I.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(http://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5892cbqnd1g9zt-QKibAzZSRA.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url(http://fonts.gstatic.com/s/droidserif/v6/c92rD_x0V1LslSFt3-QEpsff8iMd5lHP9j3QUuXTy8g.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(http://fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgD07foQZrO1EElZKDKPS5Eo.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJd6Naowg1QhaIq8kLGtQSos.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiwlidHJgAgmTjOEEzwu1L8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJTdGNerWpg2Hn6A-BxWgZ_I.ttf) format('truetype');
}


html, body {
    min-height: 100%
}

header {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.full-height {
    min-height: 100%
}

.body-fullpage {
    margin: 0;
    background: #000;
}

#drag-knot {
  padding-top: 50px;
  padding-bottom: 50px
}

@-webkit-keyframes drag-bounce {
    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    10% {
        -webkit-transform: translateX(22px);
        transform: translateX(22px)
    }
    20% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    30% {
        -webkit-transform: translateX(22px);
        transform: translateX(22px)
    }
    100%,
    40% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
}
@keyframes drag-bounce {
    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    10% {
        -webkit-transform: translateX(22px);
        transform: translateX(22px)
    }
    20% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    30% {
        -webkit-transform: translateX(22px);
        transform: translateX(22px)
    }
    100%,
    40% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
}
@-webkit-keyframes drag-line {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 10px 0
    }
}
@keyframes drag-line {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 10px 0
    }
}

.centerer,
.cuts-list .knife,
.premium-nectar-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.component-drag-control {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 200px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.component-drag-control.is-vertical {
    width: 3px
}
.component-drag-control.manual-position {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 0;
    left: 0
}
.drag-bounds {
    position: relative;
    height: 2px
}
.drag-bounds .line {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 59px;
    margin-right: 29px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, .8) 80%);
    background-position: right 0;
    background-size: 10px 2px
}
.drag-bounds .line {
    background-position: 0 0;
    -webkit-animation: drag-line 500ms infinite linear forwards;
    animation: drag-line 500ms infinite linear forwards
}
.is-vertical .drag-bounds {
    height: 260px
}
.is-vertical .drag-bounds .line {
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    margin: 60px 0 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, rgba(240, 74, 74, 0) 40%, rgba(240, 74, 74, .8) 40%);
    background-size: 3px 10px;
    background-position: left bottom
}
.drag-knob {
    position: absolute;
    height: 2px;
    width: 2px;
    top: 0;
    left: 0
}
.drag-knob .dashed-border {
    position: absolute;
    height: 106px;
    width: 106px;
    left: 1px;
    top: 1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition-duration: 200ms;
    transition-property: width, height, opacity
}
.drag-knob .dashed-border svg {
    height: 100%;
    width: 100%;
    transition-duration: 200ms;
    fill: #fff
}
.drag-knob .arrow {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    font: 0/0 serif;
    border-top: 6px solid transparent;
    border-left: 6px solid #00a599;
    border-right: 0;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: 10px;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation: drag-bounce 1800ms infinite forwards;
    animation: drag-bounce 1800ms infinite forwards
}
.drag-knob .icon-glove-grab,
.drag-knob .icon-glove-grabbing {
    height: 3rem;
    width: 4rem;
    margin-top: -2px;
    background-size: contain
}
.drag-knob .icon-glove-grab img,
.drag-knob .icon-glove-grabbing img {
    height: 100%;
    width: 100%;
    fill: #fff
}
.drag-knob .icon-glove-grabbing {
    display: none
}
.drag-knob:hover .dashed-border {
    height: 118px;
    width: 118px
}
.drag-knob:hover .dashed-border svg {
    fill: #00a599
}
.is-vertical .drag-knob .arrow {
    display: none
}
.drag-knob.is-dragging .dashed-border {
    height: 98px;
    width: 98px
}
.drag-knob.is-dragging .dashed-border svg {
    fill: #fff
}
.drag-knob.is-dragging .icon-glove-grab {
    display: none
}
.drag-knob.is-dragging .icon-glove-grabbing {
    display: block
}
.is-dragged-full .drag-knob .dashed-border {
    height: 126px!important;
    width: 126px!important
}
.is-dragged-full .drag-knob svg {
    fill: #00a599!important
}
.is-dragged-complete .drag-knob .dashed-border {
    height: 126px;
    width: 126px;
    opacity: 0
}
.is-dragged-complete .drag-knob .icon-glove-grab {
    transition: opacity 300ms cubic-bezier(0.25, .25, .75, .75);
    opacity: 0
}
.drag-end {
    position: absolute;
    height: 2px;
    width: 2px;
    top: 0;
    right: 0
}
.drag-end .dotted-border,
.drag-end:before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: 1px;
    top: 1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition-duration: 400ms
}
.drag-end .dotted-border {
    height: 100px;
    width: 100px;
    border: 0
}
.drag-end .dotted-border svg {
    height: 100%;
    width: 100%;
    fill: #fff;
    transition-duration: 400ms
}
.is-vertical .drag-end {
    top: auto;
    bottom: 0
}
.is-vertical .drag-end:before {
    visibility: hidden
}
.drag-end:before {
    background-image: url("../img/head_empty.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}
.is-dragged-full .drag-end:before {
    background-image: url("../img/head_full.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.head-says {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 30px;
    top: -100px;
    opacity: 0;
    background-image: url("../img/head_says.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.is-dragged-full .head-says {
    opacity: 1;
    transition: opacity 0.5s linear;
}
.is-dragged-full .drag-end .dotted-border {
    height: 120px;
    width: 120px
}
.is-dragged-full .drag-end .dotted-border svg {
    fill: #00a599
}
.is-dragged-complete .drag-end .dotted-border {
    height: 186px;
    width: 186px;
    opacity: 0
}
.is-dragged-full .icon {
    opacity: 0; 
}


/***********************************************/
.footer {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #fff;
}
.site-sharing {
    position: absolute;
    left: 3.4rem;
    bottom: 1.8rem;
    margin: 0;
    padding: 1rem 0;
    z-index: 3;
    white-space: nowrap;
    font-size: 0
}
.site-sharing dt {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: .42em;
    padding-left: .42em;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.25, .25, .75, .75)
}
.site-sharing dd {
    position: absolute;
    display: inline-block;
    height: 1.4rem;
    width: 3.5rem;
    margin: 0;
    right: 50%;
    top: .9rem;
    opacity: 0;
    visibility: hidden;
    transition: all 190ms cubic-bezier(.47, .04, .36, .99);
    border-right: 1px solid rgba(255, 255, 255, .3);
    background-size: auto 100%;
    background-position: center center;
    -webkit-transform: translate(15%, 0);
    -ms-transform: translate(15%, 0);
    transform: translate(15%, 0);
    cursor: pointer
}
.site-sharing dd:last-child {
    border-right: 0;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-15%, 0);
    -ms-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
    transition: all 210ms cubic-bezier(.47, .04, .36, .99) 100ms
}
.site-sharing dd:before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: 0;
    right: 0
}
.site-sharing svg {
    height: 1.4rem;
    width: 1.4rem;
    display: block;
    margin: 0 auto;
    fill: #fff;
    transition: fill 200ms cubic-bezier(0.25, .25, .75, .75)
}
.site-sharing:hover dt {
    opacity: 0;
    visibility: hidden
}
.site-sharing:hover dd {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}
.language-switch {
    position: absolute;
    left: 16rem;
    bottom: 1.7rem;
    margin: 0;
    padding: 1rem 0;
    z-index: 3;
    white-space: nowrap
}
.language-switch li {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 9px;
    opacity: .5;
    letter-spacing: .42em
}
.language-switch li.active {
    opacity: 1;
}
.button-mute {
    position: absolute;
    bottom: 2.7rem;
    left: 12.6rem;
    height: 1.8rem;
    width: 1.8rem;
    background: url(../img/icon-mute.png) 0 0/200% auto no-repeat;
    z-index: 3;
    transition: opacity 200ms cubic-bezier(0.25, .25, .75, .75)
}
.button-mute.is-muted {
    opacity: .6
}


/* BG */

  #bg {
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

    #bg div {
      -moz-transition: opacity 3s ease, visibility 3s;
      -webkit-transition: opacity 3s ease, visibility 3s;
      -ms-transition: opacity 3s ease, visibility 3s;
      transition: opacity 3s ease, visibility 3s;
      background-size: cover;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 150%;
    }

      #bg div.visible {
        -moz-animation: bg 45s linear infinite;
        -webkit-animation: bg 45s linear infinite;
        -ms-animation: bg 45s linear infinite;
        animation: bg 45s linear infinite;
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }

        #bg div.visible.top {
          z-index: 2;
        }

        @media screen and (max-width: 1280px) {

          #bg div.visible {
            -moz-animation: bg 29.25s linear infinite;
            -webkit-animation: bg 29.25s linear infinite;
            -ms-animation: bg 29.25s linear infinite;
            animation: bg 29.25s linear infinite;
          }

        }

        @media screen and (max-width: 736px) {

          #bg div.visible {
            -moz-animation: bg 18s linear infinite;
            -webkit-animation: bg 18s linear infinite;
            -ms-animation: bg 18s linear infinite;
            animation: bg 18s linear infinite;
          }

        }

      #bg div:only-child {
        -moz-animation-direction: alternate !important;
        -webkit-animation-direction: alternate !important;
        -ms-animation-direction: alternate !important;
        animation-direction: alternate !important;
      }

    body.is-loading #bg {
      opacity: 0;
    }

  @-moz-keyframes bg {
    0% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -moz-transform: translateX(-25%);
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%);
    }
  }

  @-webkit-keyframes bg {
    0% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -moz-transform: translateX(-25%);
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%);
    }
  }

  @-ms-keyframes bg {
    0% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -moz-transform: translateX(-25%);
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%);
    }
  }

  @keyframes bg {
    0% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -moz-transform: translateX(-25%);
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%);
    }
  }

